.main{
    padding-top: 90px; /* Dynamic space, same as navbar height */
    padding-left: 20px;
    padding-right: 20px
  } 
  
  .title { 
    font-size: 2.5rem; /* Adjust text size for better readability */
    color: #D9AE94 ; /* Ensure contrast against the background */ 
  } 
  .body { 
    font-size: 1.5rem; /* Adjust text size for better readability */
    color: #D9AE94; /* Ensure contrast against the background */ 
  }
  @media (max-width: 768px) {
    .main{
        padding-top: 90px; /* Adjust for smaller screens */
        font-size: 1.2rem; /* Slightly smaller text for smaller screens */
      }
    }